<div class="question col-2-3"  ng-controller="OfferAnswer" > <!--Question Page-->
  <h2>{{questions[3].query}}</h2>
  <p>{{questions[3].description}}<p>
  <ul>
    <li ng-repeat="answer in questions[3].answers">
      <div>
        <h2>{{answer.votes_quality}}</h2>
        <p>Votes</p>
      </div>
      <p>{{answer.description}}</p>
    </li>
  </ul>
</div> <!--END Question Page-->
  <aside class="q-a col-1-3">
   <form ng-controller="OfferAnswer" ng-submit="submitAnswer()">
     <h3 class="answer">Answer</h3>
     <div class="q-a-text" >
       <textarea class="answer" placeholder="   Write your answer here..." ng-model="answer.description"></textarea>
       <button class="q-a-submit" type="submit">Submit</button>
     </div>
   </form>
 </aside>
<!--END OF QA MENU-->
