<main ng-controller="OfferAnswer">
<section class="question col-2-3"> <!--Question Page-->
  <h2>{{question.query}}</h2>
    <div class="add-answer"><a href="" class="add-a">Offer Answer</a></div>

  <p id="q-description">{{question.description}}</p>

  <ul class="answer-list">
    <li ng-repeat="answer in question.answers">
      <div class="answer-div">
        <p id="answer-description">Answer: {{answer.description}} </p>
        <div class="votes" ng-controller="vote">
          <a href="" class="arrows" ng-click="upVote()"><i class="fa fa-arrow-circle-up" id="up"></i></a>
            <p id="answer-votes">{{answer.votes_quality}}</p>
          <a href="" class="arrows" ng-click="downVote()"><i class="fa fa-arrow-circle-down" id="down"></i></a>
        </div>
      </div>
    </li>
  </ul>
</section> <!--END Question Page-->

  <aside class="q-a col-1-3" id="add-a">
   <form ng-submit="submitAnswer(answer.description)">
     <h3 class="answer">Answer</h3>
     <div class="q-a-text">
       <textarea class="answer" placeholder="   Write your answer here..." ng-model="answer.description"></textarea>
       <button class="q-a-submit" type="submit">Submit</button>
     </div>
   </form>
 </aside>
<!--END OF QA MENU-->
</main>
