header {
  display: block;
  height: 10ex;
  border-bottom: 1px solid #f1f1f1;
  .logo {
  position: absolute;
  top: 1ex;
  left: 1em;
  font-size: 2em;
  color:royalblue;

  // a::before{
  //   content: "\f16c";
  // }
} //.logo
  .search {
    display: block;
    width: auto;
    position: absolute;
    top: 1.5ex;
    right: 2em;
    a {
      display: inline-block;
      margin-right: 2.5em;
      padding: 2ex 2em;
      text-decoration: none;
      background-color: #4e1bb4;
      color: #fff;
      border-radius: 5px;
    }
  } //.search
  .menu {
    display: none;
    &.active {
      display: block;
    }
  } //.login-menu
} // header
