header {
  display: block;
  height: 8ex;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fbfbfb;
  .logo {
  box-sizing: border-box;
  width: 75%;
  display: block;
  float: left;
  // position: absolute;
  // top: 1ex;
  // left: 1em;
  padding: 1.5ex 0 0 1em;
  font-size: 1.7em;
  color:#4e1bb4;
  text-decoration: none;
  font-weight: bold;

  span::before{
    content: "\f16c";
    font-family: FontAwesome;
    color: #4e1bb4;
  }
} //.logo
  .user-buttons {
    box-sizing: border-box;
    display: block;
    margin-top: 2ex;
    width: 25%;
    float: right;
    padding: 2ex 0.5em 0 1em;
    // top: 1.5ex;
    // right: 2em;
    a {
      // display: inline-block;
      // margin-top: 2ex;
      text-align: right;
      text-decoration: none;
      color: #4e1bb4;
      // color: #fff;
      // border-radius: 5px;
      &:first-of-type {
        display: none;
      }
    }
  } //.search
  .menu {
    display: none;
    &.active {
      display: block;
    }
  } //.login-menu
} // header
