.menu {                   //container for login menu
  border: 1px solid #f1f1f1;
  width: auto;
  margin: 0;
  position: absolute;
  top: 8ex;
  right: 0;
  @extend.clearfix ;
  background-color: #fbfbfb;
  z-index: 1;
  .login-signup {      //FORM BODY
    display: block;
    float: left;
    margin: 10px 2em;
    h4 {
      margin-bottom: 5px;
    }
    .submit  {       //submit button
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      background-color: #4e1bb4;
      color: #fff;
      border-radius: 5px;
      padding: 0 2em;
      border: none;
      font-size: 12pt;
      margin: 20px 1px;
    }
  } // END OF LOGIN FORM

  .redirect {            //div for redirect box
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    float: left;
    width: 100%;
    background-color: #fbfbfb;

    .account-query {              //<p>
      display: inline-block;
      margin-left: 10px;
      margin-right: 5px;
    }

    a {                           //TODO: SPECIFY
      display: inline-block;
    }
  }
} //END .login-signup
