.list {
ul {
  list-style-type: none;
    padding-left: 0;

}
.homepage {
  h2 {
    text-align:center;
  }
  li {
    border-top:1px solid black;
    height: 15ex;
    div {
      width:20%;
      float: left;
    }
    h4 {
      width: 50%;
      float:left;
    }
  }
} //.homepage
  .question {
    li {
      border-top:1px solid black;
      height: 20ex;
      width:100%;
      div {
        width:15%;
        float: left;
        h2 {
          display: block;
          text-align:left;
          width:90%;
          margin: 0 5%;
          float: left;
        }
        p {
          width: auto;
          display: block;
          float: left;
        }
      }
      p {
        display:block;
        width: 50%;
        float:right;
      }
    }
  } //.question
} //.list
