.top-questions { //Section for top-questions
  .homepage {
    h2 {
      text-align:center;
      color:#4e1bb4;
      font-weight: bold;
      vertical-align: middle;
    }
    ul { //TOP QUESTIONS LIST
      list-style-type: none;
      padding-left: 0;
      // border: 2px solid green;

      li {
        border-top:1px solid #f1f1f1;
        height: 15ex;
        color: #717072;
        .question-div {
          width:20%;
          float: left;
        }
      }//LI
    } //UL


      h4 {
        width: 50%;
        float:left;
      }
  } //.homepage
} //.top-questions


  .question {           //QUESTION.html PARTIAL
    h2 {
      display: block;
      text-align:left;
      width:90%;
      margin-bottom: 0;
      float: left;
      color:#4e1bb4;
    }
    #q-description {
      width: 100%;
      display: block;
      float: left;
    }
    .answer-list { //QUESTIONS
      list-style-type: none;
      padding-left: 0;
      // border: 2px solid blue;

      li {
        border-top:1px solid #f1f1f1;
        height: 20ex;
        width: 100%;
        color: #717072;
        .answer-div {
          width:100%;
          float: left;
          #answer-description {
            display:block;
            width: 50%;
            float:right;
          }
          #answer-votes {
            display:block;
            width: 50%;
            float:right;
            &::before {
              content: '\f0aa';
              font-family: FontAwesome;
            }
            &::after {
              content: '\f0ab';
              font-family: FontAwesome;
            }
          }

        } //ANSWER-DIV
      }//LI
    } //UL
  }//.question
