.top-questions { //Section for top-questions
  display: block;
  clear: both;
  width: 100%;

  .homepage {
    width: 100%;
    h2 {
      text-align:center;
      color:#4e1bb4;
      font-weight: bold;
      vertical-align: middle;
    }
    .search {
      width: 50%;
      margin: 0;
    }
    .add-question {
      width: 50%;
      float: right;
      text-align: right;
      margin-top: -2.5ex;
      a {
        text-decoration: none;
        color: #4e1bb4;
      }
    }
    ul { //TOP QUESTIONS LIST
      list-style-type: none;
      padding-left: 0;
      li {
        border-top:1px solid #f1f1f1;
        height: 15ex;
        color: #717072;
        .question-div {
          width:20%;
          float: left;
        }
      }//LI
    } //UL

      h4 {
        width: 50%;
        float:left;
      }
  } //.homepage
} //.top-questions

.q-a {
  display: none;
  &.active {
    display: block;
    position: absolute;
    top: 21.5ex;
    width: 100%;
    float: left;
  }
}
  .question {           //QUESTION.html PARTIAL
    width: 100%;
    h2 {
      display: block;
      text-align:left;
      width:70%;
      margin-bottom: 0;
      float: left;
      color:#4e1bb4;
    }
.add-answer {
  width: 30%;
  float: right;
  padding-top: 4ex;
  a[href] {
    text-decoration: none;
    color: #4e1bb4;
  }
}
    #q-description {
      width: 100%;
      display: block;
      float: left;
    }
    .answer-list { //QUESTIONS
      list-style-type: none;
      padding-left: 0;

      li {
        border-top:1px solid #f1f1f1;
        height: 20ex;
        width: 100%;
        color: #717072;
        .answer-div {
          width:100%;
          float: left;
          #answer-description {
            display:block;
            width: 60%;
            float:right;
          }
          .votes {
            width: 40%;
            font-size: 16pt;
            margin-top: 16px;

            #answer-votes {
              display:inline;
              margin-right: 8px;
              margin-left: 8px;

            }//#ANSWER-VOTES
            .arrows {
              display: inline;
              color: #4e1bb4;
              width: 10%;
            }
          }

        } //ANSWER-DIV
      }//LI
    } //UL
  }//.question
